<h1>一覧</h1>
<% @blogs.each do |blog| %>
<div class="main-content">
<table border>
  <tr>
    <th><%= blog.name %></th>
  </tr>
  <tr>
    <td><%= blog.title %></td>
  </tr>
  <tr>
    <td><%= blog.content %></td>
  </tr>
  </table>
<div>


<% end %>
<%= link_to "ホーム",root_path %>
